*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 200px;
    background:url(slo.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

form{
    height:27rem;
    width: 22rem;
    background: rgba(199, 15, 92, 0.374);
    box-shadow: 0 8px 32px 0 rgba(250, 80, 208, 0.929);
    border-radius: 10px;
    border-left: white;
    border-top:white;
    margin-bottom: 10px;
}
.lp{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 50px;
    font-family: cursive;
}

label{
    font-size:30px;
    font-family: cursive;
    margin:8px auto;
    margin-left: 18px;
    margin-top: 30px;
    margin-bottom: 5%;
    text-indent: 3px;
    color: rgb(252, 251, 250);
}
input{
    font-size: 23px;
    margin-right: 10px auto;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgb(218, 50, 148);
}
button{
    color:rgb(251, 13, 148);
    width: 40%;
    font-size : 30px;
    font-family:cursive;
    border-color: rgb(238, 13, 148);
    border-radius: 10%;
    box-sizing: 20px;
    outline: none;
    background: transparent;
    opacity: 0.7;
    margin: 25px auto;
    margin-left: 100px;
    margin-bottom: 10px;
    text-decoration: none;
}